.profileCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.mainBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
