.profileCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainBlock {
  display: flex;
  flex-direction: row;
  gap: 250px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
