.searchBar {
  display: flex;
  gap: 8px;
  padding-top: 20px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.searchInput {
  border-radius: 999px;
  flex: 1;
  min-width: 1000px;
  height: 40px;
}

.searchButton {
  height: 40px;
  border-radius: 999px;
  white-space: nowrap;
  min-width: 100px;

  @media (max-width: 480px) {
    width: 100%;
  }
}
